.container__index {
	background-image: linear-gradient(
			to right,
			rgba($black-col, 0.3),
			rgba($black-col, 0.3)
		),
		url("../img/new_covid-1.jpg");
	background-size: cover;
	background-blend-mode: darken;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.content {
	// padding: 3rem;
	margin: 5rem;
	border: 3px solid $white-col;
	border-radius: 20px;
	min-height: 90vh;
	width: auto;
	display: grid;
	justify-content: space-around;
	overflow: visible;
	grid-template-columns: 1fr[heading-end] 1fr[form-start];
	&__form--wrap {
		align-self: center;
		opacity: 0.9;
		grid-column: heading-end/-1;
		justify-self: center;
		filter: drop-shadow(0 1.5rem 3rem rgba($black-col, 0.9));
		padding: 1rem;
		background-color: $grey-col;
		border-radius: 25px;
		transition: all 0.3s;
		&:focus {
			transform: scale(1.05);
		}
	}
	&__form {
		z-index: 2;
		padding: 3rem;
		height: 60rem;
		width: 33rem;
		background-image: url("../img/new_covid-2.jpg");
		background-size: cover;
		overflow: hidden;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $white-col;
		clip-path: polygon(
			0 0,
			25% 0,
			26% 4%,
			75% 4%,
			76% 0,
			100% 0,
			100% 100%,
			0% 100%,
			0 0
		);
		border-radius: 25px;
	}
	&__heading {
		text-transform: uppercase;
		grid-column: 0/1;
		color: $white-col;
		font-family: "Raleway", sans-serif;
		// align-self: center;
		justify-self: center;
		&--main {
			font-size: 7rem;
			font-weight: 700;
			letter-spacing: 2px;
		}
	}
}
.form__covid {
	&--select {
		padding: 2rem 1rem;
		background-color: $white-col;
		border: none;
		transition: all 0.2s;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border: 2px solid $color-6;
		font-family: inherit;
		font-size: 1.6rem;
		&:focus {
			outline: none;
			box-shadow: 0 1rem 1.5rem rgba($color-7, 0.6);
		}
		&::-webkit-input-placeholder {
			color: $grey-col;
		}
	}

	&--option {
		font-family: inherit;
		font-size: 1.4rem;
	}
}
