.container__index {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-1, 0.7),
			rgba($color-4, 0.7),
			rgba($color-5, 0.5)
		),
		url("../img/new_covid-0.jpg");
	background-size: cover;
	background-blend-mode: color-dodge;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.content {
	// padding: 3rem;
	margin: 5rem;
	min-height: 90vh;
	width: auto;
	display: grid;
	justify-content: space-around;
	overflow: visible;
	grid-template-columns: 1fr[heading-end] 1fr[form-start];
	&__form--wrap {
		align-self: center;
		grid-column: heading-end/-1;
		justify-self: center;
		filter: drop-shadow(0 1.5rem 3rem rgba($black-col, 0.9));
		padding: 1rem;
		background-color: $grey-col;
		border-radius: 25px;
		transition: all 0.3s;
		&:focus {
			transform: scale(1.05);
		}
	}
	&__form {
		z-index: 2;
		padding: 3rem;
		height: 60rem;
		width: 33rem;
		background-image: url("../img/new_covid-2.jpg");
		background-position: center;
		background-size: cover;
		overflow: hidden;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $white-col;
		clip-path: polygon(
			0 0,
			25% 0,
			26% 4%,
			75% 4%,
			76% 0,
			100% 0,
			100% 100%,
			0% 100%,
			0 0
		);
		border-radius: 22px;
		&--header {
			font-size: 3.5rem;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			font-family: inherit;
			text-shadow: 0 0.3rem 0.65rem rgba($color-1, 0.88),
				0 -0.3rem 0.65rem rgba($color-1, 0.88);
			color: $white-col;
			letter-spacing: 2px;
			font-family: "Raleway", sans-serif;
			margin-bottom: 4rem;
		}
	}
	&__heading {
		text-transform: uppercase;
		grid-column: 0/1;
		color: $white-col;
		font-family: "Raleway", sans-serif;
		// align-self: center;
		justify-self: center;
		&--main {
			font-size: 7rem;
			font-weight: 700;
			letter-spacing: 2px;
		}
	}
}
.form__covid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: max-content min-content;
	justify-content: space-around;
	&--select {
		padding: 2rem 1rem;
		grid-area: 1/1/1/2;
		background-color: $white-col;
		border: none;
		transition: all 0.2s;
		border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
		font-family: inherit;
		font-size: 1.6rem;
		box-shadow: 0 0.6rem 1rem rgba($color-1, 0.8);
		-webkit-appearance: none;
		appearance: none;
		max-width: 23rem;
		img {
			margin-left: 1.5rem;
			opacity: 0.7;
			height: 0.7rem;
			width: 0.9rem;
		}
		&:focus {
			outline: none;
			box-shadow: 0 1.8rem 2rem rgba($color-1, 0.7);
			transform: translateY(-0.4rem);
		}
		&::-webkit-input-placeholder {
			color: $grey-col;
		}
		&::-ms-expand {
			display: none;
		}
	}

	&--option {
		font-weight: 400;
		font-family: inherit;
		font-size: 1.4rem;
	}
	&--sub-btn {
		cursor: pointer;
		grid-area: 2/2/-1/-1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		height: 6rem;
		backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		width: 6rem;
		outline: none;

		background-image: radial-gradient(
			rgba($color-1, 0.65),
			rgba($black-col, 0.85),
			rgba($color-1, 0.95)
		);
		border: none;
		transition: all 0.2s;
		box-shadow: 0 1.3rem 1.3rem rgba($black-col, 0.9);
		&:hover img {
			transform: scale(1.1);
		}

		&:focus {
			outline: none;
		}
		&:active {
			transform: translateY(0.3rem);
			box-shadow: 0 0.6rem 0.6rem rgba($black-col, 0.9);
		}
		img {
			height: 3.5rem;
			backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			min-width: 2.8rem;
			max-width: 2.8rem;
			transition: all 0.15s;
		}
	}
}
